{% extends "app/base.html" %}
{% load static %}
{% block title %}
my blog
{% endblock %}


{% block content %}
<div class="container-fluid main">
{% if date %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>Прогноз погоды в городе {{ city | capfirst }}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Сейчас температура: {{ date }} градусов по Цельсию</p>
            </div>
        </div>
    </div>
{% else %}
    <div class="container-fluid main">
        <div class="row">
            <div class="col-12">
                <h3>Нет данных о городе {{ city }}</h3>
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
