{% extends "app/base.html" %}
{% load static %}
{% block title %}
my blog
{% endblock %}


{% block content %}
<div class="container-fluid main">
    <div class="row">
        <div class="col-12">
            <h3>Выберете город для просмотра погоды</h3>
            <form method="POST">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Выбрать" >
            </form>
        </div>
    </div>
</div>
{% endblock %}
